body {
    background: rgb(71, 54, 90);
}

.center{
    align-items: center;
    min-height: 6;
    display: flex;
    flex-direction: column;
}

.titulo{
    font-size: 46px;
  color: #FFFFFF;
  background-color: #2c1a46;
  padding: 10px 40px;
  font-family: Comic Sans MS, Comic Sans, cursive;

}

.nome{
    font-size: 18px;
    color: #FFFFFF;
    background-color: #2c1a46;
    padding: 3px 5px;
    font-family: Comic Sans MS, Comic Sans, cursive;

}

.card {
  background-color: #FFFFFF;
  width: 400px;
  height: 580px;
  padding: 5px;
  margin: 20px;
  overflow: hidden;
  display: inline-block;
  }

  .name{
    
    font-size: 15px;
    color: #665284;
    padding: 5px 5px;
 
  }

  .card img {
    width: 400px;
    height: 400px;
  }

  .button{
  
  font-size: 10px;
  color: #FFFFFF;
  background-color: #2c1a46;
  padding: 5px 20px;
 
  }

  .card-home{
    margin: 120px;
    background-color: rgb(241, 241, 244);
    border: 5px solid #fff7f700;
    display: inline-block;
    overflow: hidden;
    height: 450px;
    width: 350px;
    font-family: Comic Sans MS, Comic Sans, cursive;

  }

  .imgg{
    width: 350px;
    height: 250px;
  }

  .imagem{
    width: 300px;
    height: 300px;
  }

  .nome-home{
    align-items: center;
    min-height: 16;
    display: flex;
    flex-direction: column;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 50px;
    color: #FFFFFF;
    background-color: #2c1a46;
    padding: 5px 5px;
  }

  